<!-- Header -->
<div class="container-fluid py-3 bg-white shadow-sm">
  <div class="container">
    <!-- Text -->
    <div class="mt-2 d-inline-block font-weight-bold">Theme Angular</div>
    <!-- Links -->
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <a class="nav-link" uiSrefActive="active" uiSref="main">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" uiSrefActive="active" uiSref="setting">Setting</a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>

<!-- Pages -->
<ui-view></ui-view>
