<!--The content below is only a placeholder and can be replaced.-->
<div class="bs-datepicker-container">


  <h2>Here are some links to help you start: </h2>

  <div class="container bf">


    <form>
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" name="username" placeholder="First name" [(ngModel)]="username">
          {{ username }}
        </div>
        <div class="col">
          <input type="text" class="form-control" name="daily" placeholder="Last name" [(ngModel)]="daily">
          {{ daily }}
        </div>
        <button (click)="addUser()">add a new user</button>
      </div>
    </form>

  </div>
  <div class="container" >
  <ul class="" *ngIf="users.length">
    <li class="list-group-item " *ngFor="let user of users" [hidden]="user.delete === true">


      <a href="#" class="mr-auto">
        {{ user.name }} {{ user.daily }} ,{{ user.id }} </a>
        <button (click)="delete(user)" class="mrr">delete</button>



    </li>

  </ul>


  </div>


</div>
