
.glass {
    background: rgb(49, 1, 1);
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    position: relative;
  }
  
  .glass:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    content: '';
    background: linear-gradient(40deg, transparent, rgba(255, 255, 255, 0.7) 28%, rgba(255, 255, 255, 0.6) 32%, transparent);
    background-size: 100% 500%;
    transition-duration: 300ms;
  }
  
  .glass:hover:before {
    background-size: 500% 100%;
  }
  
