<div class="container py-5">
  <div class="row my-2 justify-content-center">

    <!-- Tasks (don't show task if not enabled in settings) -->
    <div class="col-lg-6" *ngIf="setting.enableTask">

      <!-- Add group -->
      <form (ngSubmit)="addGroup()">
        <input type="text" class="form-control" placeholder="Add a group" [(ngModel)]="groupToAdd" name="groupToAdd"
               autocomplete="off">
      </form>

      <!-- Groups -->
      <div class="card my-3" *ngFor="let group of groups">
        <!-- Group header -->
        <div class="card-header">
          <!-- Name -->
          <span>{{ group.name }}</span>
          <!-- Buttons -->
          <div class="btn-group btn-group-sm float-right">
            <!-- Delete -->
            <button class="btn btn-light py-0" (click)="deleteGroup(group)">X</button>
            <!-- Archive -->
            <button class="btn btn-light py-0" (click)="group.showArchived = !group.showArchived">
              {{ group.showArchived ? 'Hide' : 'Show' }} Archived
            </button>
          </div>
        </div>
        <!-- Group body -->
        <div class="card-body">
          <!-- Group add input -->
          <form class="mb-3" (ngSubmit)="addTask(group)">
            <div class="input-group ">
              <input type="text" placeholder="Add task" class="form-control" [(ngModel)]="taskToAdd" name="taskToAdd">
              <input type="date" class="form-control" [(ngModel)]="taskDateToAdd" name="taskDateToAdd">
            </div>
          </form>
          <!-- Group task list -->
          <div class="list-group-item task" [ngClass]="{done: task.done, 'bg-warning': task.pin}"
               *ngFor="let task of ( group.showArchived ? group.archivedTasks : group.tasks); let index = index">
            <!-- Task done -->
            <div class="form-group form-check d-inline">
              <input type="checkbox" class="form-check-input" [(ngModel)]="task.done" (ngModelChange)="saveGroup()">
            </div>
            <!-- Task name -->
            <span>{{ task.name }}</span>
            <!-- Buttons -->
            <div class="btn-group btn-group-sm float-right">
              <!-- Pin -->
              <button class="btn btn-light py-0" (click)="pinTask(task)">P</button>
              <!-- Delete -->
              <button class="btn btn-light py-0"
                      (click)="deleteTask(group.showArchived ? group.archivedTasks : group.tasks, index)">X
              </button>
              <!-- Archive -->
              <button class="btn btn-light py-0" (click)="archiveTask(group, task, index)">A</button>
            </div>
            <!-- Task date -->
            <div class="small" *ngIf="task.date">{{ task.date | date }}</div>
          </div>
          <!-- No tasks text -->
          <div *ngIf="!group.tasks.length && !group.showArchived" class="mt-3 text-secondary text-center">
            You don't have any tasks.
          </div>
          <!-- No archived tasks text -->
          <div *ngIf="!group.archivedTasks.length && group.showArchived" class="mt-3 text-secondary text-center">
            You don't have any archived tasks.
          </div>
        </div>
      </div>

      <!-- No group text -->
      <p class="text-secondary mt-3 text-center" *ngIf="!groups.length">You don't have any groups and tasks.</p>
    </div>

    <!-- Notes (don't show notes if not enabled in settings) -->
    <div class="col-lg-6" *ngIf="setting.enableNote">

      <!-- Add note -->
      <form (ngSubmit)="addNote()">
        <input type="text" placeholder="Add a note" class="form-control" [(ngModel)]="noteToAdd" name="noteToAdd"
               autocomplete="off">
      </form>

      <!-- List of notes -->
      <div class="card my-3 note bg-{{ setting.noteColor }}" *ngFor="let note of notes">
        <div class="card-body">
          <!-- Content -->
          <span>{{ note.content }}</span>
          <!-- Buttons -->
          <div class="buttons float-right">
            <!-- Delete button -->
            <button class="btn btn-light btn-sm py-0" (click)="deleteNote(note)">X</button>
          </div>
          </div>
        </div>
      </div>

      <!-- No note text -->
      <p class="text-secondary mt-3 text-center" *ngIf="!notes.length">You don't have any notes.</p>
    </div>
  </div>


